*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
  }

html{
    position: relative;
    min-height: 100vh;
}

header{
    display: flex;
    height: auto;
    padding: 40px 50px 10px 50px;
    background: #7373e7;
    position: relative;
}


main{
    display: flex;
    height: auto;
    padding: 50px;
}

footer{
    position: absolute;
    bottom: 0;
    background: #7373e7;
    width: -webkit-fill-available;
    height: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    
}

.footerCont{
    max-width: 25%;
}

.footerContText{
    padding-left: 20px;
}

.footerCont h1{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #efefef;
    margin-bottom: 20px;
}

.footerCont h2{
    font-size: 1.2rem;
    margin-top: 20px;
    color: #efefef;
}

.footerCont p{
    font-weight: bold;
    max-width: 70%;
}

footer i{
    color:#efefef;
    margin-right: 5px;
}

footer span{
    color:#efefef;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: block;
}

.updates{
    display: flex;
    margin-bottom: 25px;
}

.updates p{
    line-height: 25px;
}

.dateBox{
    display: inline-flex;
    flex-direction: column;
    text-transform: uppercase;
    border: 3px solid #efefef;
    padding: 5px;
    margin-right: 15px;
    justify-content: center;
    text-align: center;
}
