<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatmania | Lorem Ipsum</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
    <header>
        <div class="avatar">
				<img src="../static/images/avatar.png" alt="">     
        </div>
        <div class="nameInfo">
				<h1>Lorem Ipsum</h1>        
        </div>
        <nav class="menu">
			<ul class="menuList">
				<li><a href="#">Photo</a></li>
				<li><a href="#">Settings</a></li>	
				<li><a href="#">Log Out</a></li>				
			</ul>        
        </nav>
    </header>
    <main>
    		<div class="indexCont">
				<div class="post">
					<div class="postAuthor">
						<a href="#">
							<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
								</a>
					</div>
					<p class="postCont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, reprehenderit quidem laborum alias esse cumque laboriosam eum est! Qui facilis ex voluptatibus quibusdam recusandae delectus laudantium, et aspernatur sapiente placeat!</p>
					<div class="postBtn">
						<button><i class="fas fa-heart"></i>Like</button>
						<button><i class="fas fa-comment"></i>comment</button>
						<button><i class="fas fa-share"></i>share</button>
					</div>
				</div>
				<div class="post">
					<div class="postAuthor">
						<a href="#">
							<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
								</a>
					</div>
					<p class="postCont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, reprehenderit quidem laborum alias esse cumque laboriosam eum est! Qui facilis ex voluptatibus quibusdam recusandae delectus laudantium, et aspernatur sapiente placeat!</p>
					<div class="postBtn">
						<button><i class="fas fa-heart"></i>Like</button>
						<button><i class="fas fa-comment"></i>comment</button>
						<button><i class="fas fa-share"></i>share</button>
					</div>
				</div>
				<div class="post">
					<div class="postAuthor">
						<a href="#">
							<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
								</a>
					</div>
					<p class="postCont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, reprehenderit quidem laborum alias esse cumque laboriosam eum est! Qui facilis ex voluptatibus quibusdam recusandae delectus laudantium, et aspernatur sapiente placeat!</p>
					<div class="postBtn">
						<button><i class="fas fa-heart"></i>Like</button>
						<button><i class="fas fa-comment"></i>comment</button>
						<button><i class="fas fa-share"></i>share</button>
					</div>
				</div>
			</div>
        <div class="sidebar">
        <h1>Text your friends </h1>
				<div class="friendsSidebarList">
					<a href="#">
					<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
						</a>		
				</div>        
				<div class="friendsSidebarList">
					<a href="#">
					<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
						</a>		
				</div> 
				<div class="friendsSidebarList">
					<a href="#">
					<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
						</a>		
				</div> 
				<div class="friendsSidebarList">
					<a href="#">
					<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
						</a>		
				</div> 
				<div class="friendsSidebarList">
					<a href="#">
					<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
						</a>		
				</div> 
				<div class="friendsSidebarList">
					<a href="#">
					<img src="../static/images/avatar.png" alt=""><p>Lorem Ipsum</p>
						</a>		
				</div> 
        </div>
    </main>        
    <footer>
		
	</footer>
<script src="https://kit.fontawesome.com/cf90e903f8.js" crossorigin="anonymous"></script>

</body>
</html>