<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatmania | Log In</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="../static/scripts/scripts.js"></script>
</head>
<body>
    <main id="loginMain">
        <div class="logCont">
            <div class="logText">
            <h1>Welcome to Chatmania.</h1>
            <p>Text, share, like and enjoy</p>
        </div>
        </div>
        <div class="logCont">
            <form action="" id="login">
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Password">
                <input type="submit" name="" id="submit" value="Log In">
                <input type="button" onclick="regForm()" value="Dont have an account? Register here">
                </form>
            <form action="" id="signup">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Lastname">
                <select name="" id="">
                    <option value="" selected disabled hidden>Gender</option>
                    <option value="">Male</option>
                    <option value="">Female</option>
                </select>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Reset Password">
                <input type="submit" name="" id="submit" value="Sign Up">
                <input type="button" onclick="logForm()" value="Already have an account? LogIn here">

            </form>
        </div>
    </main>
    <footer>
        <div class="footerCont">
            
            <h1>about us</h1>
            <div class="footerContText">
            <h2><i class="fas fa-map-marker"></i> Address:</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quis! Explicabo ipsa ratione .</p>
            <h2><i class="far fa-envelope"></i> Have any questions?</h2>
            <p>Lorem@ipsum.com</p>
            <h2><i class="fas fa-mobile"></i> Phone: </h2>
            <p>+XXX XXX XXX XXX</p>
            </div>
        </div>
        <div class="footerCont">
            <h1>fresh tweets</h1>
            <div class="footerContText">
                <p>
                    <i class="fab fa-twitter"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam at enim 
                <br> <span>10 mins ago</span>
            </p>
            <p>
                <i class="fab fa-twitter"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam at enim 
            <br> <span>10 mins ago</span>
        </p>
        <p>
            <i class="fab fa-twitter"></i>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam at enim 
        <br> <span>10 mins ago</span>
    </p>
            </div>
        </div>
        <div class="footerCont" >
            <h1>latest updates</h1>
            <div class="footerContText">
                <div class="updates">
                    <div class="dateBox">
                        <p>12</p>
                        <p>apr</p>
                    </div>
                    <p>Rendomised words which dont look eveable</p>
                </div>
                <div class="updates">
                    <div class="dateBox">
                        <p>12</p>
                        <p>apr</p>
                    </div>
                    <p>Rendomised words which dont look eveable</p>
                </div>
                <div class="updates">
                    <div class="dateBox">
                        <p>12</p>
                        <p>apr</p>
                    </div>
                    <p>Rendomised words which dont look eveable</p>
                </div>
            </div>
        </div> 
    </footer>
</body>
<script src="https://kit.fontawesome.com/cf90e903f8.js" crossorigin="anonymous"></script>

</html>